<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jw.iii.pocketjw">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".Helper.IIIApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service android:name="com.avos.avoscloud.PushService" />

        <receiver android:name="com.avos.avoscloud.AVBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Activity.WelcomeActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.User.LoginActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Activity.User.RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name=".Activity.User.ForgetPasswordActivity"
            android:label="@string/title_activity_forget_password" >
        </activity>
        <activity
            android:name=".Activity.News.NewsActivity"
            android:label="@string/title_activity_tour" >
        </activity>
        <activity
            android:name=".Activity.News.NewsItemActivity"
            android:label="@string/title_activity_news_item" >
        </activity>
        <activity
            android:name=".Activity.More.Contact.ContactActivity"
            android:label="@string/title_activity_contact" >
        </activity>
        <activity
            android:name=".Activity.More.Contact.ContactItemActivity"
            android:label="@string/title_activity_contact_item" >
        </activity>
        <activity
            android:name=".Activity.More.Profile.ProfileActivity"
            android:label="@string/title_activity_profile" >
        </activity>
        <activity
            android:name=".Activity.More.Setting.SettingActivity"
            android:label="@string/title_activity_setting" >
        </activity>
        <activity
            android:name=".Activity.More.Profile.ChangePasswordActivity"
            android:label="@string/title_activity_change_password" >
        </activity>
        <activity
            android:name=".Activity.Problems.AddProblemActivity"
            android:label="@string/title_activity_add_problem" >
        </activity>
        <activity
            android:name=".Activity.Problems.ImageDisplayActivity"
            android:label="@string/title_activity_image_display" >
        </activity>
        <activity
            android:name=".Activity.Problems.ProblemItemActivity"
            android:label="@string/title_activity_problem_item" >
        </activity>
        <activity
            android:name=".Activity.Problems.AddCommentActivity"
            android:label="@string/title_activity_add_comment" >
        </activity>
        <activity
            android:name=".Activity.Problems.CommentItemActivity"
            android:label="@string/title_activity_comment_item" >
        </activity>
        <activity
            android:name=".Activity.Notice.SelectMemberActivity"
            android:label="@string/title_activity_select_member" >
        </activity>
        <activity
            android:name=".Activity.Notice.DraftActivity"
            android:label="@string/title_activity_draft" >
        </activity>
        <activity
            android:name=".Activity.Notice.NoticeItemActivity"
            android:label="@string/title_activity_notice_item" >
        </activity>
    </application>

</manifest>